/*<meta />*/

/*Open Sans Embed*/

@font-face
{
font-family: 'Open Sans Bold';
src: url('fonts/opensans-bold.ttf');
src: local('Open Sans Bold'),
url('fonts/opensans-bold.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Bold Italic';
src: url('fonts/opensans-bolditalic.ttf');
src: local('Open Sans Bold Italic'),
url('fonts/opensans-bolditalic.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Extra Bold';
src: url('fonts/opensans-extrabold.ttf');
src: local('Open Sans Extra Bold'),
url('fonts/opensans-extrabold.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Extra Bold talic';
src: url('fonts/opensans-extrabolditalic.ttf');
src: local('Open Sans Extra Bold Italic'),
url('fonts/opensans-extrabolditalic.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Italic';
src: url('fonts/opensans-italic.ttf');
src: local('Open Sans Italic'),
url('fonts/opensans-italic.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Light';
src: url('fonts/opensans-light.ttf');
src: local('Open Sans Light'),
url('fonts/opensans-light.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Light Italic';
src: url('fonts/opensans-lightitalic.ttf');
src: local('Open Sans Light Italic'),
url('fonts/opensans-lightitalic.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans';
src: url('fonts/opensans-regular.ttf');
src: local('Open Sans'),
url('fonts/opensans-regular.ttf') format('truetype');
}


@font-face
{
font-family: 'Open Sans Semibold';
src: url('fonts/opensans-semibold.ttf');
src: local('Open Sans Semibold'),
url('fonts/opensans-semibold.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Semibold Itlaic';
src: url('fonts/opensans-semibolditalic.ttf');
src: local('Open Sans Semibold Italic'),
url('fonts/opensans-semibolditalic.ttf') format('truetype');
}
