/*<meta />*/

/*Open Sans Embed*/

@font-face
{
font-family: 'Open Sans Bold';
src: url('fonts/OpenSans-Bold.ttf');
src: local('Open Sans Bold'),
url('fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Bold Italic';
src: url('fonts/OpenSans-BoldItalic.ttf');
src: local('Open Sans Bold Italic'),
url('fonts/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Extra Bold';
src: url('fonts/OpenSans-ExtraBold.ttf');
src: local('Open Sans Extra Bold'),
url('fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Extra Bold talic';
src: url('fonts/OpenSans-ExtraBoldItalic.ttf');
src: local('Open Sans Extra Bold Italic'),
url('fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Italic';
src: url('fonts/OpenSans-Italic.ttf');
src: local('Open Sans Italic'),
url('fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Light';
src: url('fonts/OpenSans-Light.ttf');
src: local('Open Sans Light'),
url('fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Light Italic';
src: url('fonts/OpenSans-LightItalic.ttf');
src: local('Open Sans Light Italic'),
url('fonts/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans';
src: url('fonts/OpenSans-Regular.ttf');
src: local('Open Sans'),
url('fonts/OpenSans-Regular.ttf') format('truetype');
}


@font-face
{
font-family: 'Open Sans Semibold';
src: url('fonts/OpenSans-Semibold.ttf');
src: local('Open Sans Semibold'),
url('fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face
{
font-family: 'Open Sans Semibold Itlaic';
src: url('fonts/OpenSans-SemiboldItalic.ttf');
src: local('Open Sans Semibold Italic'),
url('fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
}