/*<meta />*/

img.cm02
{
	max-width: 2cm;
	min-width: 2cm;
}

img.cm04
{
	max-width: 4cm;
	min-width: 4cm;
}

img.cm05
{
	max-width: 5cm;
	min-width: 5cm;
}

img.cm06
{
	max-width: 6cm;
	min-width: 6cm;
}

img.cm07
{
	max-width: 7cm;
	min-width: 7cm;
}

img.cm08
{
	max-width: 8cm;
	min-width: 8cm;
}

img.cm10
{
	max-width: 10cm;
	min-width: 10cm;
}

img.cm12
{
	max-width: 12cm;
	min-width: 12cm;
}

img.cm15
{
	max-width: 15cm;
	min-width: 15cm;
}

img.cm18
{
	max-width: 18cm;
	min-width: 18cm;
}

img.thumbnail5cm
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: auto;
	width: 5cm;
	max-width: 5cm;
	mc-thumbnail-max-width: 5cm;
}

img.thumbnail10cm
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: auto;
	width: 10cm;
	max-width: 10cm;
	mc-thumbnail-max-width: 10cm;
}

/* Set the anchor element and popup div to relative positioning */

.MCPopupThumbnailPopup
{
	position: relative;
}

/* Position and style the "Click to ..." content */

.MCPopupThumbnailPopup::after,
.MCPopupContainer::after
{
	position: absolute;
	left: 1px;
	bottom: 5px;
	color: white;
	background-color: rgba(0,0,0,0.65);
	padding: 2px;
}

/* Set the "Click to ..." content for the thumbnail and full-size image */

.MCPopupThumbnailPopup::after
{
	content: url('../images/magnifier_plus.png');
}

/* Change the cursor to zoom-in and zoom-out to further assist the user*/

.MCPopupThumbnail
{
	cursor: zoom-in;
}

.MCPopupFullImage
{
	cursor: zoom-out;
}

