/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Master_TableStyle;
	border-collapse: collapse;
	max-id: 7;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #d3d3d3;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #d3d3d3;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #d3d3d3;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #d3d3d3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	background-color: #dbdbde;
}

mcTableBodyStyle
{
	span: 1;
	id: 6;
	name: Subheading;
	type: Manual;
	background-color: #e6e6e9;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	type: Automatic;
	vertical-align: top;
	background-color: #f1f1f2;
}

mcTableBodyStyle
{
	span: 1;
	id: 7;
	name: Body2;
	background-color: #fafafa;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #ffffff;
}


/* Cell Styles: */
 
.TableStyle-Master_TableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #d3d3d3;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #d3d3d3;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #d3d3d3;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	border-bottom-width: 0px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-spacing: 0px 0px;
}

.TableStyle-Master_TableStyle-Column-Column1
{
	
}

.TableStyle-Master_TableStyle-Head-Header1
{
	
}

.TableStyle-Master_TableStyle-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	background-color: #dbdbde;
}

.TableStyle-Master_TableStyle-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Master_TableStyle-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #dbdbde;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Master_TableStyle-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Master_TableStyle-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	background-color: #dbdbde;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Master_TableStyle-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Master_TableStyle-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #dbdbde;
}

.TableStyle-Master_TableStyle-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Master_TableStyle-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	background-color: #dbdbde;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Master_TableStyle-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Master_TableStyle-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	background-color: #dbdbde;
}

.TableStyle-Master_TableStyle-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Master_TableStyle-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #dbdbde;
}

.TableStyle-Master_TableStyle-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Master_TableStyle-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	background-color: #dbdbde;
}

.TableStyle-Master_TableStyle-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Master_TableStyle-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	background-color: #dbdbde;
}

.TableStyle-Master_TableStyle-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Master_TableStyle-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-FootI-Column1- p
{
	
}

.TableStyle-Master_TableStyle-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-FootE-Column1- p
{
	
}

.TableStyle-Master_TableStyle-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-FootF-Column1- p
{
	
}

.TableStyle-Master_TableStyle-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-FootH-Column1- p
{
	
}

.TableStyle-Master_TableStyle-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-FootD-Column1- p
{
	
}

.TableStyle-Master_TableStyle-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-FootC-Column1- p
{
	
}

.TableStyle-Master_TableStyle-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-FootB-Column1- p
{
	
}

.TableStyle-Master_TableStyle-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-FootA-Column1- p
{
	
}

.TableStyle-Master_TableStyle-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-FootG-Column1- p
{
	
}

.TableStyle-Master_TableStyle-Body-Subheading
{
	
}

.TableStyle-Master_TableStyle-BodyI-Column1-Subheading
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e6e6e9;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyI-Column1-Subheading p
{
	
}

.TableStyle-Master_TableStyle-BodyE-Column1-Subheading
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e6e6e9;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-BodyE-Column1-Subheading p
{
	
}

.TableStyle-Master_TableStyle-BodyF-Column1-Subheading
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e6e6e9;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyF-Column1-Subheading p
{
	
}

.TableStyle-Master_TableStyle-BodyH-Column1-Subheading
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e6e6e9;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-BodyH-Column1-Subheading p
{
	
}

.TableStyle-Master_TableStyle-BodyD-Column1-Subheading
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e6e6e9;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyD-Column1-Subheading p
{
	
}

.TableStyle-Master_TableStyle-BodyC-Column1-Subheading
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e6e6e9;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyC-Column1-Subheading p
{
	
}

.TableStyle-Master_TableStyle-BodyB-Column1-Subheading
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e6e6e9;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-BodyB-Column1-Subheading p
{
	
}

.TableStyle-Master_TableStyle-BodyA-Column1-Subheading
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e6e6e9;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyA-Column1-Subheading p
{
	
}

.TableStyle-Master_TableStyle-BodyG-Column1-Subheading
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e6e6e9;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyG-Column1-Subheading p
{
	
}

.TableStyle-Master_TableStyle-Body-Body1
{
	
}

.TableStyle-Master_TableStyle-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Master_TableStyle-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f2;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Master_TableStyle-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f2;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Master_TableStyle-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f2;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Master_TableStyle-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f2;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Master_TableStyle-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Master_TableStyle-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f2;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Master_TableStyle-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Master_TableStyle-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f2;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Master_TableStyle-Body-Body2
{
	
}

.TableStyle-Master_TableStyle-BodyI-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fafafa;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Master_TableStyle-BodyE-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fafafa;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Master_TableStyle-BodyF-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fafafa;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Master_TableStyle-BodyH-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fafafa;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Master_TableStyle-BodyD-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fafafa;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Master_TableStyle-BodyC-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fafafa;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Master_TableStyle-BodyB-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fafafa;
	text-align: left;
	vertical-align: top;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Master_TableStyle-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Master_TableStyle-BodyA-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fafafa;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Master_TableStyle-BodyG-Column1-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fafafa;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Master_TableStyle-BodyG-Column1-Body2 p
{
	
}


