/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	font-size: 11pt;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	border-bottom: solid 0px;
	margin-bottom: 0mm;
	margin-left: 0px;
	margin-right: 0px;
	margin: 0px;
	padding: 15px;
	font-family: Gudea, ' Helvetica', ' Verdana';
}

h1
{
	mc-float: outside-frame-left;
	vertical-align: text-top;
	page-break-before: avoid;
	padding-right: 0px;
	margin-bottom: 10px;
	border-bottom: solid 2px;
	color: #000000;
	border-bottom-width: 0px;
	margin-top: 40px;
	font-size: 180%;
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
	mc-heading-level: 2;
	padding-top: 0px;
}

h2
{
	mc-float: outside-frame-left;
	vertical-align: text-top;
	margin-bottom: 5px;
	margin-top: -3px;
	padding-right: 0px;
	padding-top: 20px;
	font-size: 150%;
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
	mc-heading-level: 3;
}

h3
{
	font-size: 120%;
	margin: 0;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 20px;
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
	mc-heading-level: 0;
}

h4
{
	font-size: 100%;
	margin: 0;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 20px;
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
	mc-heading-level: 0;
}

p.numbered1
{
	mc-auto-number-format: '{n=1}.  ';
	mc-float: none;
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 25px;
	margin-left: 25px;
	margin-top: 5px;
}

p.numbered
{
	mc-auto-number-format: '{n+}.  ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 25px;
	margin-left: 25px;
	margin-top: 5px;
}

p.numberedCont
{
	margin-left: 25px;
	mc-auto-number-offset: 25px;
	margin-top: 5px;
}

p.graphic
{
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 5px;
	padding-left: inherit;
	margin-left: inherit;
	margin-bottom: 0px;
}

p.header
{
	font-size: 9pt;
	margin-bottom: 5px;
	text-align: right;
	margin-top: 0;
}

p.pageNum
{
	font-size: 120%;
	margin-bottom: 5px;
	text-align: center;
	margin-top: 0;
	font-family: Gudea, ' Helvetica', ' Verdana';
}

p.experiment
{
	background-repeat: no-repeat;
	mc-auto-number-position: inside-head;
	background-color: #dcdcdc;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	background-image: url('../images/experiment.png');
	mc-auto-number-format: '{b}Experiment:{/b}  ';
	margin-top: 10px;
	min-height: 45px;
}

p.note
{
	background-repeat: no-repeat;
	mc-auto-number-position: inside-head;
	background-color: #dcdcdc;
	padding-left: 50px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url('../images/note.png');
	mc-auto-number-format: '{b}Note:{/b}  ';
	min-height: 30px;
	margin-top: 5px;
}

p.noteCont
{
	mc-auto-number-position: inside-head;
	background-color: #dcdcdc;
	padding-left: 50px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin-top: 5px;
}

p.tip
{
	background-repeat: no-repeat;
	mc-auto-number-position: inside-head;
	background-color: #dcdcdc;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	background-image: url('../images/tip.png');
	mc-auto-number-format: '{b}Tip:{/b}  ';
	margin-top: 5px;
	min-height: 30px;
}

p.warning
{
	background-repeat: no-repeat;
	mc-auto-number-position: inside-head;
	background-color: #dcdcdc;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	background-image: url('../images/warning.png');
	mc-auto-number-format: '{b}Warning:{/b}  ';
	margin-top: 5px;
	min-height: 30px;
}

a
{
	color: #0000FF;
}

MadCap|expanding
{
	mc-open-image: url('../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/minus.png');
	mc-closed-image: url('../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/plus.png');
	mc-image-position: left;
}

MadCap|dropDown
{
	mc-open-image: url('../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/minus.png');
	mc-closed-image: url('../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/plus.png');
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
}

MadCap|toggler
{
	mc-open-image: url('../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/minus.png');
	mc-closed-image: url('../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/plus.png');
	color: inherit;
}

MadCap|popupHead
{
	color: #5B8EC1;
}

MadCap|popupBody
{
	color: #EBEBEB;
	border: none;
	background-color: rgba(0, 0, 0, .85);
	padding: 11px 15px;
}

MadCap|glossaryTerm
{
	
}

MadCap|glossaryTerm.Expanding
{
	color: inherit;
	font-weight: inherit;
}

MadCap|glossaryTerm.Hyperlink
{
	color: #5B8EC1;
	font-weight: inherit;
}

MadCap|glossaryTerm.Popup
{
	color: #5B8EC1;
	font-weight: normal;
}

MadCap|conceptLink
{
	color: #000000;
}

MadCap|keywordLink
{
	color: #000000;
}

MadCap|relatedTopics
{
	color: #000000;
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
	font-weight: bolder;
	font-size: 120%;
	margin-top: 100px;
}

MadCap|helpControlMenu
{
	color: #707070;
	background-color: #FFFFFF;
	border: none;
}

MadCap|helpControlMenuItem
{
	color: inherit;
	font-size: inherit;
	font-family: inherit;
}

MadCap|helpControlMenuItem.Highlighted
{
	color: #000000;
	background-color: #E5EFF7;
}

h1.chapterTitle
{
	display: block;
	vertical-align: top;
	padding-right: 0px;
	mc-float: none;
	text-transform: uppercase;
	margin-top: 0px;
	padding-top: 20px;
	border-bottom-width: 0px;
	border-bottom: solid 0px;
	margin-bottom: 3mm;
	font-variant: small-caps;
}

h1.chapTitlefullPage
{
	display: block;
	vertical-align: top;
	padding-right: 0px;
	width: 17cm;
	mc-float: none;
	text-transform: uppercase;
	padding-top: 0px;
	border-bottom: solid 0px;
	margin-bottom: 3mm;
	font-variant: small-caps;
	mc-heading-level: 1;
}

h1.appendixTitlefullPage
{
	display: block;
	vertical-align: top;
	padding-right: 0px;
	width: 17cm;
	mc-float: none;
	text-transform: uppercase;
	padding-top: 0px;
	border-bottom: solid 0px;
	margin-bottom: 3mm;
	font-variant: small-caps;
	mc-heading-level: 1;
}

h1.contents
{
	display: block;
	vertical-align: top;
	width: 17cm;
	mc-float: none;
	padding-right: 0px;
	mc-heading-level: 0;
}

h1.sectionTitle
{
	display: block;
	vertical-align: top;
	padding-right: 0px;
	mc-float: none;
	text-transform: uppercase;
	margin-top: 0px;
	padding-top: 20px;
	border-bottom-width: 0px;
	border-bottom: solid 0px;
	margin-bottom: 3mm;
	font-variant: small-caps;
	mc-heading-level: 1;
}

h1.sectionTitlefullPage
{
	display: block;
	vertical-align: top;
	padding-right: 0px;
	width: 17cm;
	mc-float: none;
	text-transform: uppercase;
	margin-top: 0px;
	padding-top: 20px;
	border-bottom-width: 0px;
	border-bottom: solid 0px;
	margin-bottom: 3mm;
	font-variant: small-caps;
	mc-heading-level: 1;
}

h1.tutorialTitle
{
	display: block;
	vertical-align: top;
	padding-right: 0px;
	mc-float: none;
	text-transform: uppercase;
	margin-top: 0px;
	padding-top: 20px;
	border-bottom-width: 0px;
	border-bottom: solid 0px;
	margin-bottom: 3mm;
	font-variant: small-caps;
}

h1.fullPage
{
	display: block;
	vertical-align: top;
	width: 17cm;
	mc-float: none;
	padding-right: 0px;
	padding-top: 20px;
	mc-heading-level: 2;
}

h2.fullPage
{
	display: block;
	vertical-align: top;
	padding-right: 0px;
	width: 17cm;
	mc-float: none;
	padding-top: 10px;
	mc-heading-level: 3;
}

p
{
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 12px;
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
}

p.cmdline
{
	font-family: 'Courier New';
	font-size: 90%;
	margin-top: 5px;
}

p.cmdlinenumCont
{
	font-family: 'Courier New';
	font-size: 90%;
	margin-left: 25px;
	mc-auto-number-offset: 25px;
	margin-top: 5px;
}

p.cmdlinebulletCont
{
	font-family: 'Courier New';
	font-size: 90%;
	margin: 0;
	padding-left: 10px;
	margin-bottom: 5px;
}

p.cmdlineprocessCont
{
	font-family: 'Courier New';
	font-size: 90%;
	list-style-position: inside;
	padding-left: 36px;
	margin-left: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
}

p.coverText
{
	font-size: 120%;
	text-align: right;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 5px;
	margin-right: 10px;
	font-family: Gudea, ' Helvetica', ' Verdana';
}

p.bulleted
{
	margin-left: 0px;
	margin-bottom: 5px;
	mc-auto-number-format: '• ';
	text-indent: -10px;
	margin-left: 10px;
	margin-top: 5px;
}

p.bulletedCont
{
	margin: 0;
	padding-left: 10px;
	margin-bottom: 5px;
}

p.legal
{
	font-size: 80%;
	margin-top: 0;
	margin: 0;
	margin-bottom: 5px;
	padding: 0px;
}

p.processBullet
{
	list-style-position: inside;
	padding-left: 26px;
	margin-left: 0px;
	display: block;
	margin-bottom: 5px;
	mc-auto-number-format: '• ';
	text-indent: -10px;
	margin-left: 10px;
	margin-top: 5px;
}

p.processBulletCont
{
	list-style-position: inside;
	padding-left: 36px;
	margin-left: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
}

@media print
{
	body
	{
		margin-left: 5px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		margin-bottom: 10mm;
		margin-right: 10px;
		padding: 0px;
		font-family: 'Cachet Std Book', ' Gudea', ' Helvetica', ' Verdana';
	}

	p.graphic
	{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	h1
	{
		width: 5cm;
		padding-right: 15px;
		background-color: #ffffff;
		margin-top: -5px;
		margin-bottom: 5px;
		border-bottom: solid 0px;
		border-bottom-color: #575355;
		font-family: 'Cachet Std Book';
		font-size: 160%;
		padding-top: 32pt;
		mc-heading-level: 2;
		color: #000000;
	}

	h2
	{
		width: 5cm;
		padding-right: 15px;
		font-family: 'Cachet Std Book';
		background-color: #ffffff;
		font-size: 120%;
		mc-heading-level: 3;
		padding-top: 32pt;
	}

	h1.chapterTitle
	{
		margin-left: -5.12cm;
		padding-top: 5px;
		border-bottom: solid 0px;
		background-color: #ffffff;
		width: 17cm;
		margin-bottom: 10mm;
		mc-heading-level: 1;
		mc-auto-number-format: '{chapnum} ';
	}

	h1.sectionTitle
	{
		margin-left: -5.12cm;
		padding-top: 5px;
		border-bottom: solid 0px;
		background-color: #ffffff;
		width: 17cm;
		margin-bottom: 10mm;
		h3: ;
		padding-top: 10px;
		font-family: 'Cachet Std Book';
		font-size: 190%;
		mc-heading-level: 1;
	}

	h1.sectionTitlefullPage
	{
		padding-top: 5px;
		border-bottom: solid 0px;
		background-color: #ffffff;
		width: 17cm;
		margin-bottom: 10mm;
		h3: ;
		padding-top: 10px;
		font-family: 'Cachet Std Book';
		font-size: 190%;
		mc-heading-level: 1;
	}

	h1.chapTitlefullPage
	{
		padding-top: 25px;
		margin-bottom: 10mm;
		mc-heading-level: 1;
		mc-auto-number-format: '{chapnum} ';
	}

	h1.appendixTitlefullPage
	{
		padding-top: 25px;
		margin-bottom: 10mm;
		mc-heading-level: 1;
	}

	h1.tutorialTitle
	{
		margin-left: -5.12cm;
		padding-top: 5px;
		border-bottom: solid 0px;
		background-color: #ffffff;
		width: 17cm;
		margin-bottom: 10mm;
		mc-heading-level: 1;
	}

	h3
	{
		font-family: 'Cachet Std Book';
		padding-top: 25px;
		font-size: 110%;
		font-weight: bolder;
	}

	h4
	{
		font-family: 'Cachet Std Book';
		mc-heading-level: 0;
	}

	MadCap|xref
	{
		mc-format: '{u}{color blue}{paratext}{/color}{/u} on page {page}';
	}

	p
	{
		margin: 0px;
		margin-bottom: 5px;
		font-family: 'Cachet Std Book', ' Gudea', ' Helvetica', ' Verdana';
		margin-top: 15px;
	}

	p.afterHead
	{
		margin-bottom: 10px;
		margin-top: 0;
		padding-top: 32pt;
	}

	MadCap|breadcrumbsProxy
	{
		background-color: #ffffff;
		color: #000000;
	}

	p.note
	{
		min-height: 50px;
		page-break-inside: avoid;
	}

	p.tip
	{
		min-height: 50px;
		page-break-inside: avoid;
	}

	p.warning
	{
		min-height: 50px;
		page-break-inside: avoid;
	}

	p.experiment
	{
		min-height: 50px;
		page-break-inside: avoid;
	}

	MadCap|dropDown
	{
		
	}

	MadCap|dropDownHead
	{
		font-weight: bolder;
		font-size: 110%;
	}

	p.coverText
	{
		font-family: 'Cachet Std Book', ' Gudea', ' Helvetica', ' Verdana';
	}

	p.pageNum
	{
		font-family: 'Cachet Std Book', ' Gudea', ' Helvetica', ' Verdana';
	}

	p.TOC1
	{
		font-family: 'Cachet Std Book', ' Gudea', ' Helvetica', ' Verdana';
		padding-top: 15px;
	}

	object
	{
		margin-bottom: 0px;
	}

	div.Graphics
	{
		text-align: left;
	}

	td.caption
	{
		page-break-inside: avoid;
		page-break-before: avoid;
		font-family: 'Cachet Std Book', ' Gudea', ' Helvetica', ' Verdana';
	}

	table
	{
		margin-left: auto;
		margin-right: auto;
	}

	img
	{
		margin-left: auto;
		margin-right: auto;
	}

	h2.fullPage
	{
		font-size: 120%;
	}

	MadCap|xref.chapterAndHeading
	{
		mc-format: 'Chapter {paranumonly}, {u}{color blue}{paratext}{/color}{/u}, on page {page}';
	}

	h1.tutorialTitle
	{
		margin-bottom: 10mm;
		margin-left: -5.12cm;
		padding-top: 5px;
		width: 17.00cm;
	}
}

MadCap|dropDownHotspot
{
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
}

MadCap|dropDownHead
{
	font-weight: bolder;
	font-size: 120%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
}

@media non-print
{
	body
	{
		background-color: #e2e2e2;
	}

	tr
	{
		
	}

	table
	{
		width: auto;
	}

	MadCap|bodyProxy
	{
		
	}

	MadCap|breadcrumbsProxy
	{
		
	}

	h1
	{
		color: #474546;
	}

	div.Graphics
	{
		text-align: center;
	}

	p.graphic
	{
		text-align: left;
	}

	td.caption
	{
		font-family: 'Cachet Std Book', ' Gudea', ' Helvetica', ' Verdana';
	}
}

p.TOC1
{
	margin-bottom: 5px;
	margin-left: -5.12cm;
	margin-top: 10px;
	font-size: 110%;
	padding-top: -3px;
	float: left;
	font-family: Gudea, ' Helvetica', ' Verdana';
}

p.TOC2
{
	margin-left: 50mm;
}

p.TOC3
{
	margin-left: 55mm;
}

tr
{
	page-break-inside: avoid;
}

img
{
	vertical-align: text-bottom;
}

MadCap|breadcrumbsProxy
{
	border-bottom-width: 0px;
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
}

MadCap|xref.noPage
{
	mc-format: '{u}{color blue}{paratext}{/color}{/u}';
}

p.ConceptContext
{
	margin-top: 5px;
}

p.CellBody
{
	font-size: 9pt;
}

p.CellHeading
{
	font-size: 9pt;
	font-weight: bold;
}

MadCap|xref
{
	mc-format: '{u}{color blue}{paratext}{/color}{/u}';
}

object
{
	display: inline-block;
	padding-top: 30px;
}

MadCap|dropDownHead.dropDownHeadIndented
{
	font-size: 100%;
	font-weight: normal;
	padding-top: 0px;
	padding-bottom: 10px;
}

MadCap|dropDownBody
{
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
}

MadCap|relatedTopicsControlList
{
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
}

MadCap|relatedTopicsControlListItem
{
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
}

MadCap|relatedTopicsControlListItemLink
{
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
}

MadCap|tocProxy
{
	border-top-width: 0px;
}

h5
{
	mc-heading-level: 0;
}

h6
{
	mc-heading-level: 0;
}

div.Graphics
{
	
}

td.caption
{
	text-align: center;
	font-family: 'Gudea', ' ' Helvetica '', ' Verdana';
	page-break-inside: avoid;
	page-break-before: avoid;
}

table.footer_left
{
	
}

table.footer_right
{
	width: 100%;
}

MadCap|xref.chapterAndHeading
{
	mc-format: '{u}{color blue}{paratext}{/color}{/u}';
}

p.caption
{
	text-align: center;
	page-break-inside: avoid;
	page-break-before: avoid;
	margin-top: 0px;
}

table
{
	margin-bottom: 5px;
}

MadCap|dropDownHead.dropDownHeadNoBold
{
	font-weight: normal;
}

MadCap|miniTocProxy
{
	border-top-color: #696969;
	color: #0000ff;
	text-decoration: underline;
}

p.MiniTOC1
{
	color: #0000ff;
}

p.MiniTOC2
{
	color: #0000ff;
}

p.MiniTOC3
{
	color: #0000ff;
}

p.MiniTOC4
{
	color: #0000ff;
}

p.MiniTOC5
{
	color: #0000ff;
}

p.MiniTOC6
{
	color: #0000ff;
}

p.MiniTOC7
{
	color: #0000ff;
}

p.MiniTOC8
{
	color: #0000ff;
}

p.MiniTOC9
{
	color: #0000ff;
}

span.noteCont
{
	background-color: #dcdcdc;
	box-shadow: 0.5em 0 0 #dcdcdc, -0.5em 0 0 #dcdcdc;
	color: #5a5a58;
	display: inline;
}

