/*<meta />*/

@import url("toc_separators.css");

@import url("image_styles.css");

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body {
  margin-top: 0px;
  border-bottom: solid 0px;
  margin-bottom: 0mm;
  margin-left: 0px;
  margin-right: 0px;
  margin: 0px;
  padding: 15px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 11pt;
  mc-hyphenate: never;
  padding-top: 20px;
  padding-right: 130px;
  padding-left: 130px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  body {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media screen and (max-width: 512px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 420px) {
  body {
    padding: 0;
  }
}

h1 {
  page-break-before: avoid;
  margin-bottom: 10px;
  border-bottom: solid 2px;
  margin-top: 40px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  mc-heading-level: 2;
  vertical-align: top;
  padding-right: 0px;
  padding-top: 0px;
  border-bottom-width: 0px;
  font-weight: normal;
  font-size: 22pt;
  color: #691f28;
}

h2 {
  vertical-align: top;
  margin-bottom: 5px;
  margin-top: -3px;
  padding-right: 0px;
  padding-top: 20px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  mc-heading-level: 3;
  font-weight: normal;
  font-size: 17pt;
  color: #942c38;
}

h3 {
  margin: 0;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 20px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  mc-heading-level: 0;
  font-weight: normal;
  font-size: 14pt;
  color: #ab3340;
}

h4 {
  margin: 0;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 20px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  mc-heading-level: 0;
  font-weight: normal;
  font-size: 12pt;
  color: #bf4653;
}

h5 {
  mc-heading-level: 0;
}

h6 {
  mc-heading-level: 0;
}

p.numbered1 {
  mc-auto-number-format: "{n=1}.  ";
  mc-float: none;
  mc-auto-number-position: outside-head;
  mc-auto-number-offset: 25px;
  margin-left: 25px;
  margin-top: 5px;
  font-size: 11pt;
}

p.numbered {
  mc-auto-number-format: "{n+}.  ";
  mc-auto-number-position: outside-head;
  mc-auto-number-offset: 25px;
  margin-left: 25px;
  margin-top: 5px;
  font-size: 11pt;
}

p.numberedCont {
  margin-left: 25px;
  mc-auto-number-offset: 25px;
  margin-top: 5px;
  font-size: 11pt;
}

p.graphic {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 5px;
}

p.headerChapters {
  margin-bottom: 5px;
  text-align: right;
  margin-top: 0;
  font-size: 10pt;
  text-transform: uppercase;
  color: #942c38;
}

p.pageNum {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 11pt;
  color: #959293;
  font-family: "Novecento wide Light";
  text-align: right;
}

p.experiment {
  background-repeat: no-repeat;
  mc-auto-number-position: inside-head;
  padding-right: 10px;
  padding-left: 50px;
  min-height: 45px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 15px;
  background-color: #ededed;
  mc-auto-number-format: "{color black}EXPERIMENT:{/color}  ";
  background-image: url("../images/experiment.png");
}

p.note {
  background-repeat: no-repeat;
  mc-auto-number-position: inside-head;
  padding-left: 50px;
  padding-right: 10px;
  min-height: 30px;
  mc-auto-number-format: "{color black}NOTE:{/color}  ";
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 15px;
  background-color: #ededed;
  background-image: url("../images/note.png");
}

p.tip {
  background-repeat: no-repeat;
  mc-auto-number-position: inside-head;
  padding-right: 10px;
  padding-left: 50px;
  min-height: 30px;
  mc-auto-number-format: "{color black}TIP:{/color}  ";
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 15px;
  background-color: #ededed;
  background-image: url("../images/tip.png");
}

p.warning {
  background-repeat: no-repeat;
  mc-auto-number-position: inside-head;
  padding-right: 10px;
  padding-left: 50px;
  min-height: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 15px;
  background-color: #ededed;
  mc-auto-number-format: "{color black}WARNING:{/color}  ";
  background-image: url("../images/warning.png");
}

p.video {
  background-repeat: no-repeat;
  mc-auto-number-position: inside-head;
  padding-right: 10px;
  padding-left: 50px;
  background-image: url("../images/video.png");
  min-height: 30px;
  mc-auto-number-format: "{color black}VIDEO:{/color}  ";
  padding-bottom: 5px;
  padding-top: 10px;
  margin-top: 15px;
  background-color: #ededed;
}

a {
  color: #09a2c9;
  text-decoration: none;
}

a:link {
  color: #09a2c9;
  text-decoration: none;
}

a:visited {
  color: #09a2c9;
  text-decoration: none;
}

a:hover {
  color: #09a2c9;
  text-decoration: none;
}

a:active {
  color: #09a2c9;
  text-decoration: none;
}

MadCap|expanding {
  mc-open-image: url("../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/minus.png");
  mc-closed-image: url("../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/plus.png");
  mc-image-position: left;
}

MadCap|dropDown {
  mc-open-image: url("../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/minus.png");
  mc-closed-image: url("../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/plus.png");
  font-family: "Open Sans", "Helvetica", sans-serif;
}

MadCap|toggler {
  mc-open-image: url("../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/minus.png");
  mc-closed-image: url("../../../../../../../../program_files/madcap_software/madcap_flare_14/flare.app/resources/images/webhelp/plus.png");
  color: inherit;
}

MadCap|popupHead {
  color: #5b8ec1;
}

MadCap|popupBody {
  color: #ebebeb;
  border: none;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 11px 15px;
}

MadCap|glossaryTerm {
}

MadCap|glossaryTerm.Expanding {
  color: inherit;
  font-weight: inherit;
}

MadCap|glossaryTerm.Hyperlink {
  color: #5b8ec1;
  font-weight: inherit;
}

MadCap|glossaryTerm.Popup {
  color: #5b8ec1;
  font-weight: normal;
}

MadCap|conceptLink {
  color: #000000;
}

MadCap|keywordLink {
  color: #000000;
}

MadCap|relatedTopics {
  font-family: "Open Sans", "Helvetica", sans-serif;
  margin-top: 100px;
  font-weight: normal;
  color: #942c38;
  font-size: 17pt;
}

MadCap|helpControlMenu {
  color: #707070;
  background-color: #ffffff;
  border: none;
}

MadCap|helpControlMenuItem {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

MadCap|helpControlMenuItem.Highlighted {
  color: #000000;
  background-color: #e5eff7;
}

MadCap|tocProxy {
  border-top-width: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

h1.chapterTitle {
  display: block;
  vertical-align: top;
  padding-right: 0px;
  mc-float: none;
  margin-top: 0px;
  border-bottom-width: 0px;
  font-size: 36pt;
  font-weight: normal;
  color: #000000;
  border-bottom: solid 0px;
  padding-bottom: 0px;
  padding: 0px;
  padding-top: 15px;
  margin: 0px;
  margin-bottom: 15px;
}

h1.contents {
  display: block;
  vertical-align: top;
  mc-float: none;
  mc-heading-level: 0;
  font-size: 36pt;
  width: 12cm;
  padding-bottom: 0px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  color: #691f28;
}

h1.tutorialTitle {
  display: block;
  vertical-align: top;
  padding-right: 0px;
  mc-float: none;
  margin-top: 0px;
  border-bottom-width: 0px;
  border-bottom: solid 0px;
  font-size: 36pt;
  font-weight: normal;
  color: #000000;
  margin-bottom: 15px;
  padding-top: 15px;
}

h1.appendixTitle {
  color: #000000;
  font-size: 36pt;
  margin-bottom: 15px;
  margin-top: 0px;
  padding-top: 15px;
}

h1.sectionTitle {
  color: #000000;
  font-size: 38pt;
  padding-top: 0px;
}

p {
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 12px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #5a5a58;
  font-size: 11pt;
}

p.cmdline {
  font-family: "Courier New";
  margin-top: 5px;
}

p.cmdlinenumCont {
  font-family: "Courier New";
  margin-left: 25px;
  mc-auto-number-offset: 25px;
  margin-top: 5px;
}

p.cmdlinebulletCont {
  font-family: "Courier New";
  margin: 0;
  padding-left: 10px;
  margin-bottom: 5px;
}

p.cmdlineprocessCont {
  font-family: "Courier New";
  list-style-position: inside;
  padding-left: 36px;
  margin-left: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}

p.coverText {
  margin-left: 0;
  margin-top: 0;
  margin-right: 10px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0px;
  color: #691f28;
  font-size: 21pt;
}

p.BUG {
  margin-left: 0px;
  margin-bottom: 5px;
  mc-auto-number-format: "• BUG ID ";
  text-indent: -10px;
  margin-left: 10px;
  margin-top: 5px;
}

p.bulleted {
  margin-left: 0px;
  margin-bottom: 5px;
  mc-auto-number-format: "• ";
  text-indent: -10px;
  margin-left: 10px;
  margin-top: 5px;
}

p.bulletedCont {
  margin: 0;
  padding-left: 10px;
  margin-bottom: 5px;
}

p.legal {
  margin-top: 0;
  margin: 0;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 8pt;
  padding-bottom: 7px;
}

p.processBullet {
  list-style-position: inside;
  padding-left: 26px;
  margin-left: 0px;
  display: block;
  margin-bottom: 5px;
  mc-auto-number-format: "• ";
  text-indent: -10px;
  margin-left: 10px;
  margin-top: 5px;
}

p.processBulletCont {
  list-style-position: inside;
  padding-left: 36px;
  margin-left: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}

td {
  color: #5a5a58;
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 10pt;
}

p.intro {
  font-size: 11pt;
  margin-top: 0px;
  padding-top: 0px;
  padding: 0px;
}

MadCap|xref {
  text-decoration: none;
  color: #5a5a58;
  mc-format: "{color #00B4E0}{paratext}{/color}";
}

MadCap|xref.chapterAndHeading {
  mc-format: "{color #00B4E0}{paratext}{/color}";
}

MadCap|xref.noPage {
  mc-format: "{color #00B4E0}{paratext}{/color}";
}

table.footer_right {
  width: 100%;
}

td.caption {
  text-align: center;
  vertical-align: top;
}

MadCap|dropDownHead.dropDownHeadIndented {
  font-size: 100%;
  font-weight: normal;
  padding-top: 0px;
  padding-bottom: 10px;
}

MadCap|dropDownBody {
  font-family: "Open Sans", "Helvetica", sans-serif;
}

MadCap|relatedTopicsControlList {
  font-family: "Open Sans", "Helvetica", sans-serif;
}

MadCap|relatedTopicsControlListItem {
  font-family: "Open Sans", "Helvetica", sans-serif;
}

MadCap|relatedTopicsControlListItemLink {
  font-family: "Open Sans", "Helvetica", sans-serif;
}

@media print {
  body {
    margin-left: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-bottom: 10mm;
    margin-right: 10px;
    padding: 0px;
    font-family: "Open Sans";
    font-size: 10pt;
  }

  p.graphic {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  h1 {
    padding-right: 15px;
    margin-top: -5px;
    margin-bottom: 5px;
    border-bottom: solid 0px;
    border-bottom-color: #575355;
    font-family: "Open Sans Light";
    font-size: 21pt;
    padding-top: 25pt;
    mc-heading-level: 3;
  }

  h2 {
    padding-right: 15px;
    font-family: "Open Sans Light";
    font-size: 16pt;
    padding-top: 22pt;
    mc-heading-level: 4;
  }

  h1.chapterTitle {
    border-bottom: solid 0px;
    font-family: "Open Sans Light";
    width: 18.8cm;
    margin-bottom: 3px;
    font-weight: lighter;
    padding-top: 0px;
    margin-top: 0px;
    mc-heading-level: 2;
  }

  h1.sectionTitle {
    border-bottom: solid 0px;
    mc-heading-level: 1;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0;
    margin-bottom: 3px;
    margin-top: -5px;
    font-family: "Open Sans Light";
  }

  h1.tutorialTitle {
    border-bottom: solid 0px;
    font-family: "Open Sans Light";
    margin-left: 0cm;
    margin-bottom: 3px;
    font-weight: lighter;
    padding-top: 0px;
    width: 18.8cm;
    mc-heading-level: 2;
  }

  h3 {
    padding-top: 25px;
    font-family: "Open Sans Light";
    font-size: 14pt;
  }

  h4 {
    mc-heading-level: 0;
    font-family: "Open Sans";
    font-size: 12pt;
  }

  MadCap|xref {
    mc-format: "{color 00B4E0}{paratext}{/color} {default}on page {page}";
  }

  p {
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 15px;
    font-family: "Open Sans";
    font-size: 10pt;
  }

  p.afterHead {
  }

  MadCap|breadcrumbsProxy {
    background-color: #ffffff;
    color: #000000;
  }

  p.note {
    min-height: 50px;
    page-break-inside: avoid;
    margin-top: 10px;
    margin-bottom: 5px;
    background-image: url("../images/note.png");
  }

  p.tip {
    min-height: 50px;
    page-break-inside: avoid;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../images/tip.png");
  }

  p.warning {
    min-height: 50px;
    page-break-inside: avoid;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url("../images/warning.png");
  }

  p.experiment {
    min-height: 50px;
    page-break-inside: avoid;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url("../images/experiment.png");
  }

  MadCap|dropDown {
  }

  MadCap|dropDownHead {
    font-weight: bolder;
    font-size: 110%;
  }

  p.coverText {
    font-family: "Novecento wide Light";
  }

  p.pageNum {
    font-family: "Novecento wide Light";
  }

  object {
    margin-bottom: 0px;
  }

  div.Graphics {
    text-align: left;
  }

  td.caption {
    page-break-inside: avoid;
    page-break-before: avoid;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }

  MadCap|xref.chapterAndHeading {
    mc-format: "Chapter {paranumonly}, {color 00B4E0}{paratext}{/color}, on page {page}";
  }

  p.bulleted {
  }

  p.bulletedCont {
  }

  p.caption {
    text-align: center;
    page-break-inside: avoid;
    page-break-before: avoid;
    margin-top: 0px;
  }

  p.CellBody {
    page-break-inside: avoid;
  }

  p.CellHeading {
    page-break-inside: avoid;
    font-weight: bold;
  }

  p.cmdline {
  }

  p.cmdlinebulletCont {
  }

  p.cmdlinenumCont {
  }

  p.cmdlineprocessCont {
  }

  p.header {
    font-family: "Novecento wide Light";
  }

  p.numbered {
    font-size: 10pt;
  }

  p.numbered1 {
    font-size: 10pt;
  }

  p.numberedCont {
    font-size: 10pt;
  }

  p.processBullet {
  }

  p.processBulletCont {
  }

  h1.contents {
    font-family: "Novecento wide Light";
    margin-top: 0px;
    margin: 0px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-left: 0px;
    padding: 0px;
  }

  MadCap|dropDownHotspot {
    font-weight: normal;
    font-size: 16pt;
    font-family: "Open Sans Light";
    page-break-after: avoid;
  }

  a {
    color: #00b4e0;
  }

  td {
    font-family: "Open Sans";
    page-break-inside: avoid;
  }

  h1.appendixTitle {
    border-bottom: solid 0px;
    font-family: "Open Sans Light";
    width: 18.8cm;
    margin-bottom: 3px;
    padding-top: 0px;
    mc-heading-level: 2;
  }

  p.coverText1 {
    font-family: "Novecento wide Light";
  }

  p.legal {
  }

  p.headerChapters {
    font-family: "Novecento wide Light";
  }

  p.TOC1 {
    font-size: 19pt;
    margin-left: 0px;
    mc-leader-format: " ";
    margin-top: 20px;
    mc-pagenum-display: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 8px;
    font-weight: normal;
    font-family: "Open Sans Light";
    page-break-after: avoid;
    color: #691f28;
  }

  p.TOC2 {
    font-size: 16pt;
    margin-left: 0px;
    mc-leader-format: " ";
    margin-top: 20px;
    mc-pagenum-display: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 8px;
    font-weight: normal;
    font-family: "Open Sans Light";
    page-break-after: avoid;
    color: #691f28;
  }

  p.TOC3 {
    font-size: 11pt;
    margin-left: 0px;
    mc-leader-format: " ";
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: "Open Sans Light";
    color: #942c38;
  }

  p.TOC4 {
    font-size: 9pt;
    mc-leader-format: " ";
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 25pt;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  p.TOC5 {
    font-size: 9pt;
    mc-leader-format: " ";
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 25pt;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  MadCap|xref.TOCPageNumber {
    font-size: 9pt;
    color: #5a5a58;
    font-family: "Open Sans";
  }

  span.HeaderHeadings {
    font-family: "Novecento wide Light";
    color: #ab3340;
  }
}

MadCap|dropDownHotspot {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 18pt;
  font-weight: lighter;
  color: #942c38;
}

MadCap|dropDownHead {
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #942c38;
  mc-heading-level: 4;
}

p.CellHeading {
  font-weight: bold;
}

p.coverText1 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 10px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  text-align: left;
  font-weight: normal;
  color: #942c38;
  font-size: 19pt;
}

p.header {
  color: #ab3340;
}

div.background {
  background-color: #ededed;
  padding-bottom: 6px;
}

p.backBullet {
  mc-auto-number-position: inside-head;
  padding-left: 58px;
  padding-right: 10px;
  mc-auto-number-format: "• ";
  margin-top: 5px;
  background-color: #ededed;
  text-indent: -8px;
}

p.backBulletCont {
  mc-auto-number-position: inside-head;
  padding-left: 58px;
  padding-right: 10px;
  margin-top: 5px;
  background-color: #ededed;
}

p.backCmd {
  font-family: "Courier New";
  mc-auto-number-position: inside-head;
  padding-left: 50px;
  padding-right: 10px;
  margin-top: 5px;
  background-color: #ededed;
}

a.Popup:visited {
  color: #09a2c9;
}

MadCap|miniTocProxy {
  mc-toc-depth: 3;
  border-top-style: none;
  padding-top: 0px;
}

p.codeBlock {
  white-space: pre;
  font-family: "Courier New";
  margin-top: 5px;
  background-color: #ededed;
  padding: 12px;
}

/*New Dropdown Shizzle*/

MadCap|dropDownHead.dropDownHeadH2 {
  color: #942c38;
  font-size: 17pt;
}

MadCap|dropDownHotspot.dropDownHeadH2 {
  color: #942c38;
  font-size: 17pt;
}

MadCap|dropDownHead.dropDownHeadH3 {
  color: #ab3340;
  font-size: 14pt;
}

MadCap|dropDownHotspot.dropDownHotspotH3 {
  color: #ab3340;
  font-size: 14pt;
}

MadCap|dropDownHead.dropDownHeadH4 {
  color: #bf4653;
  font-size: 12pt;
}

MadCap|dropDownHotspot.dropDownHotspotH4 {
  color: #bf4653;
  font-size: 12pt;
}
